<div class = instructions>
<h2 id = 'rules'>The rules of rock, paper, scissors are found in this poem:</h2>
<p>
“Mine, said the stone,
mine is the hour.
I crush the scissors,
such is my power.
Stronger than wishes,
my power, alone.
</p><p>
Mine, said the paper,
mine are the words
that smother the stone
with imagined birds,
reams of them, flown
from the mind of the shaper.
</p><p>
Mine, said the scissors,
mine all the knives
gashing through paper’s
ethereal lives;
nothing’s so proper
as tattering wishes.
</p><p>
As stone crushes scissors,
as paper snuffs stone
and scissors cut paper,
all end alone.
So heap up your paper
and scissor your wishes
and uproot the stone
from the top of the hill.
They all end alone
as you will, you will.” 
</p>
<h3 id = 'author'> --David Mason </h3>

<div id='guide'>
<h2> To play this game, paste the following into the address bar </h2
>
<h1>http://localhost:4567/rps/<span style ='color: red'>rock</span>/<span style = 'color: blue'>rock</span>
<br>
<h3> 
with the <span style ='color: red'>rock</span> value on the left replaced with either rock / paper / scissors for player one, and vice versa for player two.
</h3>
</div>
</div>
