<style>
img{
    padding:5px;
    color:#222;
    margin: 10px;
    vertical-align:middle;
}
</style>
<div style = 'text-align: center;'>
<h1 style = 'font-size: 4em;'>codeclan rochambeau</h1><br>
<h2> Rock beats scissors, paper beats rock, scissors beat paper </h2><br>
<form action = '/rps/' >Player 1 :
  <input type="radio" id='rock' name="player1" value="rock" checked>
    <label for="rock">
      <img src= '/assets/rock.svg' width = '50px;'>
    </label>
  <input type="radio" id='paper' name="player1" value="paper">
    <label for="paper">
      <img src= '/assets/paper.svg' width = '50px;'>
    </label>
  <input type="radio" id='scissors' name="player1" value="scissors">
  <label for="scissors">
      <img src= '/assets/scissors.svg' width = '50px;'>
  </label>
  <br>
  <div style = 'padding-top: 50px;'> Player 2:
  <input type="radio" id='rock2' name="player2" value="rock">
    <label for="rock2">
      <img src= '/assets/rock.svg' width = '50px;'>
    </label>
  <input type="radio" id='paper2' name="player2" value="paper">
    <label for="paper2">
      <img src= '/assets/paper.svg' width = '50px;'>
    </label>
  <input type="radio" id='scissors2' name="player2" value="scissors">
    <label for="scissors2">
      <img src= '/assets/scissors.svg' width = '50px;'>
    </label>
    <br>
  <input type="submit" value="Submit">
  </div>
</form>
</h1>
