<!doctype html>
<html>
  <head>
      <title>Rock Paper Scissors</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <a href = "/help/"><img id = 'instructionbutt' src = '/assets/help.jpg'></a>
    <div class = 'flex-aligner'>
    <%= yield %>
    </div>
  </body>
</html>
